<h4>My Profile</h4>
<p><%= link_to 'My Stats', "/profile/stats", class: "btn waves-effect modal-trigger black" %></p>
<p><%= link_to 'My Posts', "/profile/posts", class: "btn waves-effect modal-trigger black" %></p>
