<footer class="grey darken-4">
  <div class="tri-color-border">
    <div class="y"></div>
    <div class="r"></div>
    <div class="b"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h6 class="white-text"><strong>Ghost Diary</strong><br></h6>
        <a class="grey-text text-lighten-3" href="#!">connecting kindred spirits</a>,

      </div>
      <div class="col l6 offset-l2 s12">
        <h6 class="white-text">Developers</h6>
          <a class="grey-text text-lighten-3" href="#!">David Atkins </a>,
          <a class="grey-text text-lighten-3" href="#!">Elom Amouzou </a>,
          <a class="grey-text text-lighten-3" href="#!">Jenny Klich </a>,
          <a class="grey-text text-lighten-3" href="#!">Maria Ronauli </a>
      </div>
    </div>
  </div>
</footer>
