<div class="ghost-container">
   <div class="ghost-body" id="<%= post.tone.downcase %>">
     <div class="eyeball"></div>
     <div class="eyeball"></div>
   </div>
   <div class="flap" id="flap-<%= post.tone.downcase %>"></div>
   <div class="flap" id="flap-<%= post.tone.downcase %>"></div>
   <div class="flap" id="flap-<%= post.tone.downcase %>"></div>
   <div class="shadow"></div>
 </div>
