<div class="container">
  <br>
  <a class="btn waves-effect modal-trigger black" href="#new-post"><i class="material-icons left prefix">create</i>New Post</a>
  <div id="new-post" class="modal">
    <div class="modal-content">
      <%= form_tag '/profile/posts', method: :post, class: 'col s12b' do %>
      <div class="input-field col s12">
        <i class="material-icons prefix">whatshot</i>
        <%= text_area_tag :body, nil, class:'materialize-textarea', :'data-length' => '222' %>
        <%= button_tag type: 'submit', class: "btn waves-effect waves-light black" do %>
          Submit<i class="material-icons right">send</i>
        <% end %>
      </div>
    <%end%>
    </div>
  </div>
</div>
