<p><%= "Logged in as #{current_user.name}" if current_user %></p>
<p>Welcome!</p>
<% if current_user && current_user.group.nil? %>
  <br>
  <p>It seems you haven't joined a group yet.</p>
  <%= link_to 'Join a group now!', new_profile_group_path %>
<% end %>
