<h3>Welcome to Ghost Diary</h3>
<p>The place to explore the memories left behind by your predecessors.</p>
<% if current_user && current_user.group.nil? %>
  <p>It seems you haven't joined a group yet.</p>
  <%= link_to 'Join one to get started!', new_profile_group_path %>
<% elsif current_user %>
  <p><%= link_to "Start Exploring", "/posts" %></p>
<% else %>
  <p>Log in to get started.</p>
<% end %>

<div class="ghost-container">
  <div class="ghost-body">
    <div class="eyeball"></div>
    <div class="eyeball"></div>
  </div>
  <div class="flap"></div>
  <div class="flap"></div>
  <div class="flap"></div>
  <div class="shadow"></div>
</div>
