<h2>Your Posts</h2>

  <% @posts.each do |post| %>
    <section class="post-<%= post.id %>">
    <p><%= link_to "Click to see post #{post.id}'s info.", "/profile/posts/#{post.id}" %></p>
    <p><%= post.body %></p>
    <div class="ghost-container">
      <div class="ghost-body">
        <div class="eyeball"></div>
        <div class="eyeball"></div>
      </div>
      <div class="flap"></div>
      <div class="flap"></div>
      <div class="flap"></div>
      <div class="shadow"></div>
    </div>
    </section>
  <% end %>
